#auth-page {
    background-color: #0a2133;
    width: 100vw;
    height: 100vh;
    padding: 20vh 20vw 50vh 40vw;
}

#auth-wrapper {
    text-align: center;
    width: 20vw;
    background-color: #ffffff;
    border: 0.3px solid lightgray;
    border-radius: 1rem;
}

#auth-inner {
    padding: 1.8rem;
}

#auth-inner-logo{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* .login-page-container {
    margin: 0!important;
    padding: 0;
} */