.app-list-item {
    background-color: #202A33;
    border: 1px solid #ceced3;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
    margin-bottom: 0.4rem;
    color: white;
}
.app-list-item:hover {
    cursor: pointer;
    background-color: #0a21331c;
}

.app-list-media-body {
    border-left: 1px solid #ceced3;
    padding: 1rem 0 1rem 0;
}

.app-list-item-description {
    border-top: 1px solid #ceced3;
    padding-top: 2px;
    margin-bottom: 0;
}

.app-list-media-buttons {
    float: right;
}

.app-list-media-buttons button {
    margin: 2px 0 2px 0;
}

a.app-list-item.media:hover {
    text-decoration: none;
    background-color: #0a21331c;
    color: black;
    cursor: pointer;
}

#app-search {
    margin-bottom: 2rem;
    margin-top: 1rem;
}