#auth-page {
    background-color: #007BFF;
    width: 100vw;
    height: 100vh;
    padding: 15vh 20vw 15vh 20vw;
}

#auth-wrapper {
    width: 60vw;
    background-color: #FFFFFF;
    border: 0.3px solid lightgray;
    border-radius: 1rem;
}

#auth-inner {
    padding: 1.8rem;
}