#site-content {
    height: 100vh;
    width: 100vw;
    padding: 0!important;
}
#auth-page {
    background-color: #007BFF;
    width: 100vw;
    height: 100vh;
    padding: 10vh 20vw 10vh 20vw;
}

#auth-wrapper {
    height: 80vh;
    width: 60vw;
    background-color: #FFFFFF;
    border: 0.3px solid lightgray;
    border-radius: 1rem;
}

#auth-inner {
    padding: 1.8rem;
}